body {
  text-align: center;
  background: white;
}

.container {
  /* height: 1000px; */
}

header {
  height: 10vh;
  background-color: #cc0000;
}

main {
  height: 80vh;
}

footer {
  height: 10vh;
  background-color: #c99c33;
}
