body {
  text-align: center;
  background: white;
}

.container{
	height: 1000px;
}

header {
  height: 20vh;
  background-color: #cc0000;
}

main {
  height: 60vh;
}

footer {
  height: 20vh;
  background-color: #c99c33;
}
